* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
header{
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	padding:  15px;
	background-color: #A00;
	z-index: 10;
}

header .logo{
	max-height: 30px;
}
header .logotext{
	display: inline-block;
	margin:0;
	font-size: 20px;
	color:#FFF;
	font-size: 20px;
}
main{
	max-width: 1000px;
	margin: auto;
	margin-top: 100px;
}
.busStop{
	border: 1px #CCC solid;
	margin:10px;
	padding: 20px;
	position: relative;
	border-radius: 3px;
}
main form{
	margin: 10px;
}
.busForm {
	font-size: 0px;
}

.busForm input{
	font-size: 30px;
}

.busForm input[type=number]{
	width: 65%;
	margin-right: 5%;
	box-sizing: border-box;
	text-align: center;
}

.busForm input[type=submit]{
	width: 30%;
	box-sizing: border-box;
	background-color: #FFF;
	border: 2px #A00 solid;
	color: #A00;
	border-radius: 3px;
	box-shadow: 0px 0px 3px #555;
}
.busForm input[type=submit]:hover{
	background-color: #A00;
	color: #FFF;
}
.busForm input{
	font-size: 30px;
}
.busStop h2{
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}
.busStop{
	font-size: 0px;
}
.busStop button{
	position: absolute;
	right: 5px;
	top:5px;
	color: #A00;
	border: none;
	background-color: #FFF;
	font-size: 30px;
}
.busStop button:hover{
	color: #D00;
}
.busStop p , .busStop h3{
	display: inline-block;
	width: 33%;
	white-space: pre;
	font-size: 20px;
	border-bottom: 2px #EEE solid;
}
.busStop p {
	text-align: right;
}